language: node_js
node_js:
  - "node"
dist: trusty

script:
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: travis
  target_branch: gh-pages